<mat-card>
    <form (submit)="onSaveListing(listingForm)" #listingForm="ngForm">
      <mat-form-field>
        <input
          matInput
          type="text"
          name="name"
          [ngModel]="listing?.name"
          required
          minlength="3"
          placeholder="Listing name"
          #name="ngModel">
        <mat-error *ngIf="name.invalid">Please enter a listing name.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          rows="2"
          name="summary"
          [ngModel]="listing?.summary"
          required
          placeholder="Listing content"
          #summary="ngModel"></textarea>
        <mat-error *ngIf="summary.invalid">Please enter a listing summary.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          rows="2"
          name="location"
          [ngModel]="listing?.location"
          required
          placeholder="Location Content"
          #location="ngModel"></textarea>
        <mat-error *ngIf="location.invalid">Please enter a listing's location.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          rows="4"
          name="description"
          [ngModel]="listing?.description"
          required
          placeholder="Listing description"
          #description="ngModel"></textarea>
        <mat-error *ngIf="description.invalid">Please enter a listing's description.</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        type="submit">Save listing</button>
    </form>
  </mat-card>
  